@import "tailwindcss";

@theme {
  --color-galaxy_core: #001845;
  --color-galaxy_dark: #001233;
  --color-galaxy: #023e7d;
  --color-light: #e6e6e6;

  --container-DEFAULT: 1rem;
  --container-sm: 2rem;
  --container-lg: 4rem;
  --container-xl: 5rem;

  --container-center: true;
}

html,
body {
  scroll-behavior: smooth;
  max-height: 100%;
  overflow-y: auto;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 0.8s infinite;
}
